@(products: List[Product])
@main("Products catalogue") {
	<h2>All products</h2>
	<table class="table table-striped table-responsive" ng-app="app" ng-controller="delCtrl">
		<thead>
			<tr>
				<th>EAN</th>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for(product <- products) {
				<tr>
					<td><a href="@routes.Products.details(product)">@product.ean</a></td>
					<td><a href="@routes.Products.details(product)">@product.name</a></td>
					<td><a href="@routes.Products.details(product)">@product.description</a></td>
					<td><button ng-click="del('@routes.Products.delete(product.ean)')" class="btn btn-danger">Delete</button></td>
				</tr>
			}
		</tbody>
	</table>
	<a href="@routes.Products.newProduct()" class="btn btn-primary">New product</a>
}

<script type="text/javascript">
	/**
	* app Module
	*
	* Description
	*/
	angular.module('app', []).
		controller('delCtrl', ['$http', '$scope', function($http, $scope){
			$scope.del = function(url) {
				console.log(url);
				$http.delete(url)
					.success(function(data, status, headers, config) {
						window.location.reload();
					})
					.error(function(data, status, headers, config) {
						console.log('Error');
						console.log(data);
					});
			};
		}]);
</script>